img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('https://cdn.mos.cms.futurecdn.net/DZGGEMKqKod3BbfoCqBmdH-768-80.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: 0px
}


.landing-inner {
  padding-top: 20%;
}


.search {
  position: relative;
  background: url('https://www.bulova.com/on/demandware.static/-/Sites-bulova-Library/default/dwdfefc2ab/watch-finder/images/question.women_daring.opt2.img.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: 0px
}


.search-inner {
  padding-top: 0px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.create-profile {
  margin-top: 20%;
  position: relative;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

h1 {
  color: #bbb;
  position: center;
}
